{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Liste des articles</h5>
					<div class="table-responsive">
						<table class="table table-hover table-striped text-left">
							<thead class="bg-danger text-white">
							<tr>
								<th>#</th>
								<th>Title</th>
								<th>Content</th>
								<th>Author</th>
								<th>CreatedAt</th>
								<th>UpdatedAt</th>
								<th>Actions</th>
							</tr>
							</thead>
							<tbody>
							{% if role == 'BDE' or role == 'DELEGATE' %}
								{% for lst_article in articles %}
									{% for article in lst_article %}
										<tr>
											<td>{{ article.type.label }}</td>
											<td>{{ article.title }}</td>
											<td>{{ article.content }}</td>
											<td>{{ article.author.firstName }} {{ article.author.lastName }}</td>
											<td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
											<td>{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
											<td>
												<a href="{{ path('article_show', {'id': article.id}) }}"><i class="fas fa-eye"></i></a>
												<a href="{{ path('article_edit', {'id': article.id}) }}"><i class="fas fa-edit"></i></a>
											</td>
										</tr>
									{% endfor %}
								{% else %}
									<tr>
										<td colspan="6">Aucune donnée trouvée</td>
									</tr>
								{% endfor %}
							{% else %}
								{% for article in articles %}
									<tr>
										<td>{{ article.type.label }}</td>
										<td>{{ article.title }}</td>
										<td>{{ article.content }}</td>
										<td>{{ article.author.firstName }} {{ article.author.lastName }}</td>
										<td>{{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}</td>
										<td>{{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
										<td>
											<a href="{{ path('article_show', {'id': article.id}) }}"><i class="fas fa-eye"></i></a>
											<a href="{{ path('article_edit', {'id': article.id}) }}"><i class="fas fa-edit"></i></a>
										</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="6">no records found</td>
									</tr>
								{% endfor %}
							{% endif %}
							</tbody>
						</table>
					</div>

					{% if app.user and is_granted("ROLE_BDE") %}
						<a href="{{ path('article_new') }}" class="btn btn-danger margin10">
							Créer un nouvel article
						</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}


