{{ form_start(form) }}
	{{ form_row(form.code) }}
	{{ form_row(form.label) }}
	{{ form_row(form.startedAt) }}
	{{ form_row(form.endedAt) }}
	{{ form_row(form.manager) }}
    <button class="btn_common btn_border margin10 border_radius">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
