{% if is_granted("ROLE_ADMIN") == false %}
	{%  set display = 'hidden' %}
{% endif %}
{{ form_start(form) }}
	{{ form_row(form.email) }}
	{{ form_row(form.phoneNumber) }}
	<div style="visibility: {{ display }}">
		{{ form_row(form.firstName) }}
		{{ form_row(form.lastName) }}
		{{ form_row(form.birthDate) }}
		{{ form_row(form.roles) }}
		{{ form_row(form.isVerified) }}
	</div>
	<div style="visibility: hidden">
		{{ form_row(form.password) }}
	</div>
	<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

