{{ form_row(form.firstName) }}
{{ form_row(form.lastName) }}
{{ form_row(form.email) }}
{{ form_row(form.password) }}
{{ form_row(form.birthDate) }}
{{ form_row(form.phoneNumber) }}

{% if is_granted('ROLE_ADMIN') %}
	<label>Roles</label>
	<input value="{{ user.roles|json_encode() }}"/>
	{{ form_row(form.isVerified) }}
{% endif %}
<button class="btn">{{ button_label|default('Save') }}</button>
