{{ form_start(form) }}
	{{ form_row(form.email) }}
	{{ form_row(form.phoneNumber) }}
	<div style="display: {{ is_granted("ROLE_ADMIN") ? '' : 'none' }}">
		{{ form_row(form.firstName) }}
		{{ form_row(form.lastName) }}
		{{ form_row(form.birthDate) }}
		{{ form_row(form.roles) }}
		{{ form_row(form.isVerified) }}
	</div>
	<div style="display: none">
		{{ form_row(form.password) }}
	</div>
	<button class="btn_common btn_border margin10 border_radius" >{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}

