{% if is_granted("ROLE_ADMIN") == false %}
	{%  set display = 'hidden' %}
{% endif %}
<div>
	<div style="visibility: {{ display }}">
		{{ form_row(form.firstName) }}
		{{ form_row(form.lastName) }}
		{{ form_row(form.birthDate) }}
		{{ form_row(form.roles) }}
		{{ form_row(form.isVerified) }}
	</div>
	{{ form_row(form.email) }}
	{{ form_row(form.phoneNumber) }}
	<div style="visibility: hidden">
		{{ form_row(form.password, {'attr': {'hidden': true}}) }}
	</div>
</div>

<button class="btn">{{ button_label|default('Save') }}</button>
