{% extends 'base.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block javascripts %}
	<script>
		function sam(){
			let newPass = document.getElementById('new_password');
			let confirmPass = document.getElementById('confirm_new_password');
			let errorDiv = document.getElementById("error_alert");
			errorDiv.innerText = "La confirmation du mot de passe est différente du nouveau mot de passe.";
			// errorDiv.appendChild(document.createElement("P").appendChild(document.createTextNode("La confirmation du mot de pass est différente du nouveau mot de passe.")));
			if(newPass.value !== confirmPass.value){
				console.log("WRONG CREDENTIALS !");
				confirmPass.style.border = "solid red";
				errorDiv.style.visibility = "visible";
			}else{
				confirmPass.style.border = "solid green";
				errorDiv.style.visibility = "hidden";
			}
		}
	</script>
{% endblock %}

{% block body %}
	<section id="faq" class="padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="heading heading_space wow fadeInDown"><span>Reset password of </span> {{ user.firstName }} {{ user.lastName }}<span class="divider-left"></span></h2>
					<div class="faq_content wow fadeIn" data-wow-delay="400ms">
						{{ form_start(form) }}
						<div id="error_alert" class="alert alert-danger" style="visibility: hidden"></div>
						{% if error != null %}
							<div class="alert alert-danger">
								{{ error }}
							</div>
						{% endif %}
						<table>
							<tr>
								<td>
									<label for="previous_password">Previous password</label>
									<input id="previous_password" name="previous_password" type="password" >
									<a id="showOldPass" onclick="new function showOldPass(){ let x = document.getElementById('previous_password'); x.type === 'password' ? x.type = 'text' : x.type = 'password';  }"><i class="fa fa-eye"></i></a>
								</td>
							</tr>
							<tr>
								<td>
									<label for="new_password">New password</label>
									<input id="new_password" name="new_password" type="password" >
									<a id="showNewPass" onclick="new function showNewPass(){ let x = document.getElementById('new_password'); x.type === 'password' ? x.type = 'text' : x.type = 'password';  }"><i class="fa fa-eye"></i></a>
								</td>
							</tr>
							<tr>
								<td>
									<label for="confirm_new_password">Confirm new password</label>
									<input id="confirm_new_password" name="confirm_new_password" type="password" onkeydown="sam()" onkeyup="sam()">
								</td>
							</tr>
						</table>
						<button class="btn" onclick="">{{ button_label|default('Update') }}</button>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
