{% extends 'base.html.twig' %}

{% block title %}Edition de l'étudiant {{ student.relatedUser }}{% endblock %}

{% block body %}
	<h1>Edition de la l'étudiant <strong>{{ student.relatedUser }}</strong></h1>
	<a href="#student" class="btn btn-danger">Allons y !</a>
{% endblock %}

{% block section %}
	<section id="student">
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body">
						<div class="row">
							{{ include('student/_form.html.twig', {'button_label': 'Update'}) }}

							<a href="{{ path('student_index') }}">back to list</a>

							{{ include('student/_delete_form.html.twig') }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
