{% extends 'base.html.twig' %}

{% block title %}{{ subject.label }}{% endblock %}

{% block body %}

	<section id="about" class="padding">
		<div class="container aboutus">
			<div class="row">
				<div class="col-md-7 wow fadeInLeft" data-wow-delay="300ms">
					<h2 class="heading heading_space"><span>Unité </span>{{ subject.label}} <span class="divider-left"></span></h2>
					<h5 class="bottom25"><strong>Id : </strong>{{ subject.id }}</h5>
					<h5 class="bottom25"><strong>Code : </strong>{{ subject.code }}</h5>
					<h5 class="bottom25"><strong>Label : </strong>{{ subject.label }}</h5>
					<div class="widget heading_space">
						<h3 class="bottom15">Intervenants</h3>
						<ul class="tags">
							{% for teacher in subject.teachers %}
								<li><a>{{ teacher }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div class="row" style="column-gap: 0.5em">
				<col>
				<a class="btn_common btn_border margin10 border_radius" href="{{ path('subject_index') }}">
					Retour
				</a>
				</col>
				<col>
				<a class="btn_common btn_border margin10 border_radius" href="{{ path('subject_edit', {'id': subject.id}) }}">Modifier</a>
				</col>
					{{ include('subject/_delete_form.html.twig') }}
			</div>
		</div>
	</section>
{% endblock %}
