{% extends 'base.html.twig' %}

{% block title %}StudentType index{% endblock %}

{% block body %}
    <h1>StudentType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Label</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for student_type in student_types %}
            <tr>
                <td>{{ student_type.id }}</td>
                <td>{{ student_type.code }}</td>
                <td>{{ student_type.label }}</td>
                <td>
                    <a href="{{ path('student_type_show', {'id': student_type.id}) }}">show</a>
                    <a href="{{ path('student_type_edit', {'id': student_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('student_type_new') }}">Create new</a>
{% endblock %}
