{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Connectez-vous</h5>
					<label for="inputEmail"></label><input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required placeholder="Email" autofocus>
					<label for="inputPassword"></label><input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Mot de passe">

					<input type="hidden" name="_csrf_token"
						   value="{{ csrf_token('authenticate') }}"
					>

					<button class="btn btn-primary margin10" type="submit">
						Se connecter
					</button>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock %}
