{% extends 'base.html.twig' %}

{% block title %}Edition du projet {{ project.code }}{% endblock %}


{% block body %}

	<!--SERVICE SECTION-->
	<section id="faq" class="padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="heading heading_space wow fadeInDown"><span>Éditer</span> le projet {{ project.code }}<span class="divider-left"></span></h2>
					<div class="faq_content wow fadeIn" data-wow-delay="400ms">
						<div class="form group">
							<div class="item">{{ include('project/_form.html.twig', {'button_label': 'Sauvegarder'}) }}</div>
							<div class="item">{{ include('project/_delete_form.html.twig') }}</div>
							<div class="item">
								<a class=" btn_common btn_border margin10 border_radius" href="{{ path('project_index') }}">Retour à la liste</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
