{% extends 'base.html.twig' %}

{% block title %}Liste des projets{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Liste des projets</h5>
					<div class="table-responsive">
						<table class="table table-hover table-striped text-left">
							<thead class="bg-danger text-white">
							<tr>
								<th>#</th>
								<th>Code</th>
								<th>Libellé</th>
								<th>Date de début</th>
								<th>Date de fin</th>
								<th>Matières concernées</th>
								{% if app.user and is_granted("ROLE_SPEAKER") %}
									<th>Action</th>
								{% endif %}
							</tr>
							</thead>
							<tbody>
							{% for project in projects %}
								<tr>
									<td>{{ project.id }}</td>
									<td>{{ project.code }}</td>
									<td>{{ project.label }}</td>
									<td>{{ project.startedAt ? project.startedAt|date('Y-m-d H:i:s') : '' }}</td>
									<td>{{ project.endedAt ? project.endedAt|date('Y-m-d H:i:s') : '' }}</td>
									<td>{{ project.subjects|join(', ') }}</td>
									{% if app.user and is_granted("ROLE_SPEAKER") %}
										<td>
											<a href="{{ path('project_show', {'id': project.id}) }}"><i class="fas fa-eye"></i></a>
											<a href="{{ path('project_edit', {'id': project.id}) }}"><i class="fas fa-edit"></i></a>
										</td>
									{% endif %}
								</tr>
							{% else %}
								<tr>
									<td colspan="6">Aucune donnée trouvée</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
					</div>

					{% if app.user and is_granted("ROLE_SPEAKER") %}
						<a href="{{ path('project_new') }}" class="btn btn-danger margin10">
							Créer un nouveau projet
						</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
