{% extends 'base.html.twig' %}

{% block title %}Project {{ project.code }}{% endblock %}

{% block body %}
	<section id="about" class="padding">
		<div class="container aboutus">
			<div class="row">
				<div class="col-md-7 wow fadeInLeft" data-wow-delay="300ms">
					<h2 class="heading heading_space"><span>Projet </span>{{ project.label}} <span class="divider-left"></span></h2>
					<h4 class="bottom25">Ce projet a débuté le {{ project.startedAt ? project.startedAt|date('d-m-Y') : '' }} {% if project.endedAt != null %} et a été clôturé le {{ project.endedAt ? project.endedAt('d-m-Y') : '' }}{% endif %}</h4>
					<p class="bottom25">{{ project.description }}</p>
					</div>
				<div class="col-md-5 wow fadeInRight" data-wow-delay="300ms">
					<div class="image">
						<img src="{{ asset('assets/images/about-us.jpg') }}" alt="Xwin">
					</div>
				</div>
				<div class="margin10">
					<div class="widget heading_space">
						<h3 class="bottom15">Participants</h3>
						<ul class="tags">
							{% for student in project.students %}
								<li><a>{{ student }}</a></li>
							{% endfor %}
						</ul>
					</div>
					<div class="widget heading_space">
						<h3 class="bottom15">Matières concernées</h3>
						<ul class="tags">
							{% for subject in project.subjects %}
								<li><a>{{ subject }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
