{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <h1>Project</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ project.code }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ project.label }}</td>
            </tr>
            <tr>
                <th>StartedAt</th>
                <td>{{ project.startedAt ? project.startedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndedAt</th>
                <td>{{ project.endedAt ? project.endedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('project_index') }}">back to list</a>

    <a href="{{ path('project_edit', {'id': project.id}) }}">edit</a>

    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
