{% extends 'base.html.twig' %}

{% block title %}Edition de l'intervenant {{ teacher.relatedUser }}{% endblock %}

{% block body %}
	<h1>Edition de la l'intervenant <strong>{{ teacher.relatedUser }}</strong></h1>
	<a href="#teacher" class="btn btn-danger">Allons y !</a>
{% endblock %}

{% block section %}
	<section id="teacher">
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body">
						<div class="row">
							{{ include('teacher/_form.html.twig', {'button_label': 'Mise à jour'}) }}

							<a href="{{ path('teacher_index') }}">Retour à la liste</a>

							{{ include('teacher/_delete_form.html.twig') }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
