{% extends 'base.html.twig' %}

{% block title %}{{ teacher.relatedUser }}{% endblock %}

{% block body %}
	<section id="about" class="padding">
		<div class="container aboutus">
			<div class="row">
				<div class="col-md-7 wow fadeInLeft" data-wow-delay="300ms">
					<h2 class="heading heading_space"><span>{{ teacher.relatedUser.firstName}} </span>{{ teacher.relatedUser.lastName}} <span class="divider-left"></span></h2>
				</div>
				<div class="col-md-5 wow fadeInRight" data-wow-delay="300ms">
					<div class="image">
						<img src="{{ asset('assets/images/about-us.jpg') }}" alt="Xwin">
					</div>
				</div>
			</div>
			<div class="margin10">
				<div class="widget heading_space">
					<h3 class="bottom15">Responsable de promotion</h3>
					<ul class="tags">
						{% for promotion in teacher.promotions %}
							<li><a>{{ promotion }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="margin10">
				<div class="widget heading_space">
					<h3 class="bottom15">Matières dispensées</h3>
					<ul class="tags">
						{% for subject in teacher.subjects %}
							<li><a>{{ subject }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<a class="btn_common btn_border margin10 border_radius" href="{{ path('teacher_index')}}">
				Retour
			</a>
		</div>
	</section>
{% endblock %}
